
*{
margin: 0%;
padding: 0%;
}
.header-h{
    text-align: center;
    background-color: black;
    color: aliceblue;
    width: 100%;
    height: 80px;
    position: relative;
    
}

.hed{
    padding-top: 25px;
    color: aliceblue;
}
.heds{
    margin: 10px 25px;
    text-decoration: none;
    color: rgb(106, 183, 235);
    padding: 10px 10px;
    font-size: 20px;
    
}
.home-a{
    background-image: url(./image/bl-7.webp);
    width: 100%;
    height: 900px;
    opacity: 0.9;
    
}
.home-b{
    display: flex;

}
.part1{
    width: 900px;
    margin-left: 200px;
    margin-top: 280px;
    color: rgb(241, 232, 232);
}
.ha-1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 20px 10px;
    font-size: 20px;
    
}
.build{
    font-size: 45px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 20px 10px;
}
.con-1{
    font-size: 25px;
    margin: 10px 10px;
    word-spacing: 8px;
    color: rgb(203, 203, 248);
}
.part2{
    text-align: center;
}
.images{
    margin-top: 260px;
    margin-left: 150px;
}
.image-a{
    width: 300px;
    height: 300px;
    border-radius: 150px;
}
#btn{
    background-color: rgb(138, 192, 241);
    color: black;
    font-weight: 600;
    margin-left: 10px;
    padding: 5px 10px;
    border-radius: 20px;
}
.btn-1{
   color: black;
   margin: 0%;
   padding: 0%;
}

.about{
    background-color: rgb(7, 7, 7);
    width: 100%;
    height: 600px;
    opacity: .9;
    padding-bottom: 100px;
    
    
}
.aa{
    font-size: 100px;
    color: azure;
    text-shadow: rgb(241, 111, 111) 5px 3px;
    margin-left: 200px;
    padding-top: 100px;
    
   

}
.about-a{
    color: aliceblue;
    margin-left: 200px; 
    margin-right: 150px;
    margin-top: 30px;
}
.name-a{
font-size: 40px;
padding: 2px 0px 20px 0px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.details{
font-size: 20px;
padding-bottom: 20px;
color: rgb(241, 125, 47);
}
.con-a{
font-size: 20px;
word-spacing: 4px;
}
.con-b{
    font-size: 20px;
    word-spacing: 4px;
}
.educate{
    background-color: rgb(7, 7, 7);
    width: 100%;
    height: 600px;
    opacity: .9;
    padding-top: 100px;

}
.qa{
    color: aliceblue;
    font-size: 25px;
    
}
.nam{
    font-size: 20px;
    color: rgb(236, 160, 109);
}

.ab{
    
    font-size: 100px;
    color: azure;
    text-shadow: rgb(241, 111, 111) 3px 3px;
    margin-left: 700px;
    padding-bottom: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.sec{
    margin-bottom: 40px;
}
.content-a{
    display: flex;
    color:azure;
}
.flam{
    width: 50%;
    margin-left: 400px
}
.year{
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 30px;
  
}
.year-1{
    padding-bottom: 2px;
}

.skills{
    background-color: rgb(7, 7, 7);
    width: 100%;
    height: 900px;
    opacity: .9;
   margin: 0%;
}
.abc{
    font-size: 100px;
    color: azure;
    text-shadow: rgb(241, 111, 111) 3px 3px;
    margin-left: 800px;
    padding-top: 80px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.skl{
    color: antiquewhite;
    display: flex;
    width: 100%;
    padding-bottom: 50px;
}
/* .blocks{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4,1fr);
    margin: 2rem 2rem 2rem 13rem;
    padding: 10px 10px;
} */

.box img{
    width: 150px;
    height: 150px;
}
.vv{
    margin-left: 400px;
    padding-bottom: 50px;
}
.box{
    padding: 40px 50px;
}
/* .box img:hover{
    width: 100vh;
    height: 100vh;
} */
.project{
    background-color: rgb(7, 7, 7);
    width: 100%;
    height: 900px;
    opacity: .9;
   margin: 0%;
}
.pro{
    display: flex;
    width: 100%;
    margin-top: 60px;
}
.pro .first-col{
width: 50%;
margin-left: 200px;
}
.pro .first-row{
    width: 600px;
    height: 300px;
    background-color: blue;
    border-radius: 10px;
   
}

#foote .foot{
    display: flex;
    width: 100%;
    height: 40px;
    background-color: rgb(194, 223, 223);
}

#foote .foot-a{
    width: 50%;
}

ul{
    display: inline;
    float: left;
}

ul a{
    display: inline-block;
    width: 50px;
    text-align: center;
    padding-top: 10px;
}
.ul{
    margin-left: 300px;
}
i {
	font-size: 20px;
	color: #000;
	align-self: center;
	transition: color 500ms;
}
.fa-envelope:hover {
	color: #ffffff;
}
.fa-twitter-square:hover {
	color: #126bf0;
}
.fa-linkedin:hover {
	color: #1114d1;
}
.fa-instagram:hover {
	color: #df2416;
}
.copy{
    font-size: 20px;
	color: rgb(12, 12, 12);
	align-self: center;
	transition: color 500ms;
    padding-top: 10px;
    padding-left: 200px;
    overflow: hidden;
}